Prof. Fernando Amaral

www.eia.ai

# Pandas

In [ ]:
import pandas as pd
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import pandas as pd
pd.Series([1,2,3,4,5], dtype='i4')

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [ ]:
import pandas as pd
pd.Series([1,2,3,4,5], dtype='i4', name="Meus números")

0    1
1    2
2    3
3    4
4    5
Name: Meus números, dtype: int32

In [ ]:
import pandas as pd
minha_serie = pd.Series([1,2,3,4,5], dtype='i4', name="Meus números", index=["Um","Dois","Três","Quatro","Cinco"])
print(minha_serie['Um'])
print(minha_serie['Quatro'])
print(minha_serie.shape)

1
4
(5,)

In [ ]:
import pandas as pd
minha_serie = pd.Series([1,2,3,4,5], dtype='i4', name="Meus números", index=["Um","Dois","Três","Quatro","Cinco"])
minha_serie['Seis'] = 6
print(minha_serie)

Um        1
Dois      2
Três      3
Quatro    4
Cinco     5
Seis      6
Name: Meus números, dtype: int64

In [ ]:
import pandas as pd
import numpy as np
array = np.array([45.4,50.5, 65.7, 98.7])
pesos = pd.Series(array, index=['Carlos',"josé","Maria","Fernanda"])
print(pesos)
print(type(pesos))

Carlos      45.4
josé        50.5
Maria       65.7
Fernanda    98.7
dtype: float64
<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd
data_frame = pd.DataFrame()
data_frame

Empty DataFrame
Columns: []
Index: []

In [ ]:
import pandas as pd
nomes = ['Roger','Lucas','Cristiano','Maria']
data_frame = pd.DataFrame(nomes)
data_frame

           0
0      Roger
1      Lucas
2  Cristiano
3      Maria

In [ ]:
print(data_frame)

           0
0      Roger
1      Lucas
2  Cristiano
3      Maria

In [ ]:
import pandas as pd
numeros = [
          ['11','12','13','14'],   
          ['11','12','13','14'],   
          ['11','12','13','14'],   
          ['11','12','13','14']   
          ]

data_frame = pd.DataFrame(numeros)
data_frame

    0   1   2   3
0  11  12  13  14
1  11  12  13  14
2  11  12  13  14
3  11  12  13  14

In [ ]:
import pandas as pd
numeros = [
          ['11','12','13','14'],   
          ['11','12','13','14'],   
          ['11','12','13','14'],   
          ['11','12','13','14']   
          ]
data_frame = pd.DataFrame(numeros, columns=['a','b','c','d'],index=['x','y','z','w'])
data_frame

    a   b   c   d
x  11  12  13  14
y  11  12  13  14
z  11  12  13  14
w  11  12  13  14

In [ ]:
import pandas as pd
dados = {
        'Nome': ['Roger','Cristiano','Diego','Carla'],
        'Idade': [45,34,56,21],
        'Profissão': ['Engeheiro','Desenvolvedor','Metalurgico','Médica']
        }

data_frame = pd.DataFrame(dados)
data_frame

        Nome  Idade      Profissão
0      Roger     45      Engeheiro
1  Cristiano     34  Desenvolvedor
2      Diego     56    Metalurgico
3      Carla     21         Médica

In [ ]:
import pandas as pd
dados = {
        'Idade': [45,34,56,21],
        'Profissão': ['Engeheiro','Desenvolvedor','Metalurgico','Médica']
        }
data_frame = pd.DataFrame(dados, index=['Roger','Cristiano','Diego','Carla'])
data_frame

           Idade      Profissão
Roger         45      Engeheiro
Cristiano     34  Desenvolvedor
Diego         56    Metalurgico
Carla         21         Médica

In [ ]:
data_frame.loc['Roger']

Idade               45
Profissão    Engeheiro
Name: Roger, dtype: object

In [ ]:
import pandas as pd
data = pd.read_csv('pessoas.csv', index_col='Nome')
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.loc['Roger']

Idade               45
Profissão    Arquiteto
Altura             1.8
Name: Roger, dtype: object

In [ ]:
len(data.columns)

3

In [ ]:
data.columns

Index(['Idade', 'Profissão', 'Altura'], dtype='object')

In [ ]:
len(data.index)

6

In [ ]:
data.index

Index(['Roger', 'Cristiano', 'Diego', 'Jeferson', 'José', 'Maria'], dtype='object', name='Nome')

In [ ]:
data.shape

(6, 3)

In [ ]:
for indice, linha in data.iterrows():
  print(indice, linha[0], linha[1], linha[2])

Roger 45 Arquiteto 1.8
Cristiano 34 Programador 1.73
Diego 56 Médico 1.78
Jeferson 71 Aposentado 1.77
José 46 Desempregado 1.71
Maria 31 Enfermeira 1.69

In [ ]:
for coluna in data:
  print(coluna)

Idade
Profissão
Altura

In [ ]:
data['Altura']

Nome
Roger        1.80
Cristiano    1.73
Diego        1.78
Jeferson     1.77
José         1.71
Maria        1.69
Name: Altura, dtype: float64

In [ ]:
for coluna in data:
  print(data[coluna])

Nome
Roger        45
Cristiano    34
Diego        56
Jeferson     71
José         46
Maria        31
Name: Idade, dtype: int64
Nome
Roger           Arquiteto
Cristiano     Programador
Diego              Médico
Jeferson       Aposentado
José         Desempregado
Maria          Enfermeira
Name: Profissão, dtype: object
Nome
Roger        1.80
Cristiano    1.73
Diego        1.78
Jeferson     1.77
José         1.71
Maria        1.69
Name: Altura, dtype: float64

In [ ]:
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
print(data.loc['Roger']['Idade'])
print(data.loc['Roger'][0])

45
45

In [ ]:
print(data.iloc[0]['Idade'])
print(data.iloc[0][0])

45
45

In [ ]:
print(data.loc['Roger'])
print(type(data.loc['Roger']))

Idade               45
Profissão    Arquiteto
Altura             1.8
Name: Roger, dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
print(data.iloc[0])

Idade               45
Profissão    Arquiteto
Altura             1.8
Name: Roger, dtype: object

In [ ]:
data.loc['Cristiano':'Jeferson']

           Idade    Profissão  Altura
Nome
Cristiano     34  Programador    1.73
Diego         56       Médico    1.78
Jeferson      71   Aposentado    1.77

In [ ]:
data.iloc[1:4]

           Idade    Profissão  Altura
Nome
Cristiano     34  Programador    1.73
Diego         56       Médico    1.78
Jeferson      71   Aposentado    1.77

In [ ]:
print(data['Idade'])

Nome
Roger        45
Cristiano    34
Diego        56
Jeferson     71
José         46
Maria        31
Name: Idade, dtype: int64

In [ ]:
idade = data['Idade']
print(idade[3])
print(idade['Diego'])

71
56

In [ ]:
data[['Idade','Altura']]

           Idade  Altura
Nome
Roger         45    1.80
Cristiano     34    1.73
Diego         56    1.78
Jeferson      71    1.77
José          46    1.71
Maria         31    1.69

In [ ]:
colunas = data[['Idade','Altura']]
print(type(colunas))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
colunas = data.iloc[:,1:3]
colunas

              Profissão  Altura
Nome
Roger         Arquiteto    1.80
Cristiano   Programador    1.73
Diego            Médico    1.78
Jeferson     Aposentado    1.77
José       Desempregado    1.71
Maria        Enfermeira    1.69

In [ ]:
colunas = data.loc[:,"Idade":"Profissão"]
colunas

           Idade     Profissão
Nome
Roger         45     Arquiteto
Cristiano     34   Programador
Diego         56        Médico
Jeferson      71    Aposentado
José          46  Desempregado
Maria         31    Enfermeira

In [ ]:
mask = data['Idade'] < 50
mask

Nome
Roger         True
Cristiano     True
Diego        False
Jeferson     False
José          True
Maria         True
Name: Idade, dtype: bool

In [ ]:
nova_dframe = data[mask]
nova_dframe

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
nova_dframe = data[(data['Idade']>40) & (data['Altura']>1.75) ]
nova_dframe

          Idade   Profissão  Altura
Nome
Roger        45   Arquiteto    1.80
Diego        56      Médico    1.78
Jeferson     71  Aposentado    1.77

In [ ]:
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.at['Roger','Idade'] = 56
data

           Idade     Profissão  Altura
Nome
Roger         56     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.iat[2,0] = 100
data

           Idade     Profissão  Altura
Nome
Roger         56     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego        100        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.loc['Cristiano','Idade':'Profissão'] = (45,'Dev')
data

           Idade     Profissão  Altura
Nome
Roger         56     Arquiteto    1.80
Cristiano     45           Dev    1.73
Diego        100        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.loc['José',['Idade','Altura']] = (65,1.72)
data

           Idade     Profissão  Altura
Nome
Roger         56     Arquiteto    1.80
Cristiano     45           Dev    1.73
Diego        100        Médico    1.78
Jeferson      71    Aposentado    1.77
José          65  Desempregado    1.72
Maria         31    Enfermeira    1.69

In [ ]:
data.iloc[0,2] = 1.94
data

           Idade     Profissão  Altura
Nome
Roger         56     Arquiteto    1.94
Cristiano     45           Dev    1.73
Diego        100        Médico    1.78
Jeferson      71    Aposentado    1.77
José          65  Desempregado    1.72
Maria         31    Enfermeira    1.69

In [ ]:
data.loc[:,'Idade'] = 76
data

           Idade     Profissão  Altura
Nome
Roger         76     Arquiteto    1.94
Cristiano     76           Dev    1.73
Diego         76        Médico    1.78
Jeferson      76    Aposentado    1.77
José          76  Desempregado    1.72
Maria         76    Enfermeira    1.69

In [ ]:
data.loc[:,'Idade':'Profissão'] = None
data

          Idade Profissão  Altura
Nome
Roger      None      None    1.94
Cristiano  None      None    1.73
Diego      None      None    1.78
Jeferson   None      None    1.77
José       None      None    1.72
Maria      None      None    1.69

In [ ]:
data.loc[:,['Idade','Altura']] = (23,1.8)
data

           Idade Profissão  Altura
Nome
Roger         23      None     1.8
Cristiano     23      None     1.8
Diego         23      None     1.8
Jeferson      23      None     1.8
José          23      None     1.8
Maria         23      None     1.8

In [ ]:
data = pd.read_csv('pessoas.csv', index_col='Nome')
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.loc[(data['Idade']<40),'Altura'] = 1.99
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.99
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.99

In [ ]:
data.loc[(data['Idade'] == 34) & (data['Profissão']=='Programador'),['Idade','Altura']]= (80,1.00)
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     80   Programador    1.00
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.99

In [ ]:
data = pd.read_csv('pessoas.csv', index_col='Nome')
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.loc['Carlos'] = (56,'Engenheiro',1.76)
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69
Carlos        56    Engenheiro    1.76

In [ ]:
data_adicional = pd.DataFrame({'Idade':[34,21,54],
                               'Profissão': ['Paraquedista','Professor','Cozinheiro'],
                               'Altura': [1.79, 1.76, 1.90]},
                              index = ['Julia','Roberto','Jack']                              
                               )
data_adicional.index.name = 'Nomes'
data_adicional

         Idade     Profissão  Altura
Nomes
Julia       34  Paraquedista    1.79
Roberto     21     Professor    1.76
Jack        54    Cozinheiro    1.90

In [ ]:
data = data.append(data_adicional)
data

           Idade     Profissão  Altura
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69
Carlos        56    Engenheiro    1.76
Julia         34  Paraquedista    1.79
Roberto       21     Professor    1.76
Jack          54    Cozinheiro    1.90

In [ ]:
data = pd.read_csv('pessoas.csv', index_col='Nome')
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data['Sobrenome'] = None
data

           Idade     Profissão  Altura Sobrenome
Nome
Roger         45     Arquiteto    1.80      None
Cristiano     34   Programador    1.73      None
Diego         56        Médico    1.78      None
Jeferson      71    Aposentado    1.77      None
José          46  Desempregado    1.71      None
Maria         31    Enfermeira    1.69      None

In [ ]:
data['Sobrenome'] = ['Silva','Sagan','','','','']
data

           Idade     Profissão  Altura Sobrenome
Nome
Roger         45     Arquiteto    1.80     Silva
Cristiano     34   Programador    1.73     Sagan
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.insert(loc=1,column='Data Nascimento', value=['30/09/2000' for i in range(6)])
data

           Idade Data Nascimento     Profissão  Altura Sobrenome
Nome
Roger         45      30/09/2000     Arquiteto    1.80     Silva
Cristiano     34      30/09/2000   Programador    1.73     Sagan
Diego         56      30/09/2000        Médico    1.78
Jeferson      71      30/09/2000    Aposentado    1.77
José          46      30/09/2000  Desempregado    1.71
Maria         31      30/09/2000    Enfermeira    1.69

In [ ]:
data = pd.read_csv('pessoas.csv', index_col='Nome')
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data2 = data.drop(index = ['Roger','Diego'])
data2

           Idade     Profissão  Altura
Nome
Cristiano     34   Programador    1.73
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.drop(index = ['Roger','Diego'], inplace=True)
data

           Idade     Profissão  Altura
Nome
Cristiano     34   Programador    1.73
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.drop(index=data.index[[0,1]], inplace=False)

       Idade     Profissão  Altura
Nome
José      46  Desempregado    1.71
Maria     31    Enfermeira    1.69

In [ ]:
data

           Idade     Profissão  Altura
Nome
Cristiano     34   Programador    1.73
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data = pd.read_csv('pessoas.csv', index_col='Nome')
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.drop(index=data[data['Altura']>= 1.7].index, inplace=True)
data

       Idade   Profissão  Altura
Nome
Maria     31  Enfermeira    1.69

In [ ]:
data = pd.read_csv('pessoas.csv', index_col='Nome')
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.drop(columns=['Idade'], inplace=True)
data

              Profissão  Altura
Nome
Roger         Arquiteto    1.80
Cristiano   Programador    1.73
Diego            Médico    1.78
Jeferson     Aposentado    1.77
José       Desempregado    1.71
Maria        Enfermeira    1.69

In [ ]:
data.columns

Index(['Profissão', 'Altura'], dtype='object')

In [ ]:
data.drop(columns=data.columns[[0,1]], axis=1, inplace=True)
data

Empty DataFrame
Columns: []
Index: [Roger, Cristiano, Diego, Jeferson, José, Maria]

In [ ]:
data = pd.read_csv('pessoas.csv', index_col='Nome')
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.loc['Roger','Idade'] = None
data

           Idade     Profissão  Altura
Nome
Roger        NaN     Arquiteto    1.80
Cristiano   34.0   Programador    1.73
Diego       56.0        Médico    1.78
Jeferson    71.0    Aposentado    1.77
José        46.0  Desempregado    1.71
Maria       31.0    Enfermeira    1.69

In [ ]:
data.isnull()

           Idade  Profissão  Altura
Nome
Roger       True      False   False
Cristiano  False      False   False
Diego      False      False   False
Jeferson   False      False   False
José       False      False   False
Maria      False      False   False

In [ ]:
pd.isnull(data['Idade'])

Nome
Roger         True
Cristiano    False
Diego        False
Jeferson     False
José         False
Maria        False
Name: Idade, dtype: bool

In [ ]:
data.notnull()

           Idade  Profissão  Altura
Nome
Roger      False       True    True
Cristiano   True       True    True
Diego       True       True    True
Jeferson    True       True    True
José        True       True    True
Maria       True       True    True

In [ ]:
mask = pd.notnull(data['Idade'])
mask

Nome
Roger        False
Cristiano     True
Diego         True
Jeferson      True
José          True
Maria         True
Name: Idade, dtype: bool

In [ ]:
data[mask]

           Idade     Profissão  Altura
Nome
Cristiano   34.0   Programador    1.73
Diego       56.0        Médico    1.78
Jeferson    71.0    Aposentado    1.77
José        46.0  Desempregado    1.71
Maria       31.0    Enfermeira    1.69

In [ ]:
copy = data.sort_values("Idade", ascending=False, inplace=False)
copy

           Idade     Profissão  Altura
Nome
Jeferson    71.0    Aposentado    1.77
Diego       56.0        Médico    1.78
José        46.0  Desempregado    1.71
Cristiano   34.0   Programador    1.73
Maria       31.0    Enfermeira    1.69
Roger        NaN     Arquiteto    1.80

In [ ]:
copy = data.sort_values("Idade", ascending=True, inplace=False, na_position='last')
copy

           Idade     Profissão  Altura
Nome
Maria       31.0    Enfermeira    1.69
Cristiano   34.0   Programador    1.73
José        46.0  Desempregado    1.71
Diego       56.0        Médico    1.78
Jeferson    71.0    Aposentado    1.77
Roger        NaN     Arquiteto    1.80

In [ ]:
data.loc['Maria','Idade'] = 34
data

           Idade     Profissão  Altura
Nome
Roger        NaN     Arquiteto    1.80
Cristiano   34.0   Programador    1.73
Diego       56.0        Médico    1.78
Jeferson    71.0    Aposentado    1.77
José        46.0  Desempregado    1.71
Maria       34.0    Enfermeira    1.69

In [ ]:
copy = data.sort_values(['Idade','Altura'], ascending = [True,False], inplace=False, na_position='first')
copy

           Idade     Profissão  Altura
Nome
Roger        NaN     Arquiteto    1.80
Cristiano   34.0   Programador    1.73
Maria       34.0    Enfermeira    1.69
José        46.0  Desempregado    1.71
Diego       56.0        Médico    1.78
Jeferson    71.0    Aposentado    1.77

In [ ]:
data = pd.read_csv('pessoas.csv', index_col='Nome')
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69

In [ ]:
data.loc['Willian'] = (25 ,'Programador' ,1.75 )
data.loc['Lando'] = (22 ,'Programador' , 1.65)
data.loc['Max'] = (45 ,'Médico' ,1.68 )
data.loc['Sebastian'] = (35 ,'Médico' ,1.74 )
data.loc['Ana'] = (23 ,'Médico' ,1.7 )
data

           Idade     Profissão  Altura
Nome
Roger         45     Arquiteto    1.80
Cristiano     34   Programador    1.73
Diego         56        Médico    1.78
Jeferson      71    Aposentado    1.77
José          46  Desempregado    1.71
Maria         31    Enfermeira    1.69
Willian       25   Programador    1.75
Lando         22   Programador    1.65
Max           45        Médico    1.68
Sebastian     35        Médico    1.74
Ana           23        Médico    1.70

In [ ]:
grupos = data.groupby('Profissão')

In [ ]:
for indice, grupo in grupos:
  print(indice)
  print(grupo)

Aposentado
          Idade   Profissão  Altura
Nome
Jeferson     71  Aposentado    1.77
Arquiteto
       Idade  Profissão  Altura
Nome
Roger     45  Arquiteto     1.8
Desempregado
      Idade     Profissão  Altura
Nome
José     46  Desempregado    1.71
Enfermeira
       Idade   Profissão  Altura
Nome
Maria     31  Enfermeira    1.69
Médico
           Idade Profissão  Altura
Nome
Diego         56    Médico    1.78
Max           45    Médico    1.68
Sebastian     35    Médico    1.74
Ana           23    Médico    1.70
Programador
           Idade    Profissão  Altura
Nome
Cristiano     34  Programador    1.73
Willian       25  Programador    1.75
Lando         22  Programador    1.65

In [ ]:
grupos.get_group('Programador')

           Idade    Profissão  Altura
Nome
Cristiano     34  Programador    1.73
Willian       25  Programador    1.75
Lando         22  Programador    1.65

In [ ]:
grupos = data.groupby(['Profissão','Idade'])
grupos.describe()

                   Altura
                    count  mean std   min   25%   50%   75%   max
Profissão    Idade
Aposentado   71       1.0  1.77 NaN  1.77  1.77  1.77  1.77  1.77
Arquiteto    45       1.0  1.80 NaN  1.80  1.80  1.80  1.80  1.80
Desempregado 46       1.0  1.71 NaN  1.71  1.71  1.71  1.71  1.71
Enfermeira   31       1.0  1.69 NaN  1.69  1.69  1.69  1.69  1.69
Médico       23       1.0  1.70 NaN  1.70  1.70  1.70  1.70  1.70
             35       1.0  1.74 NaN  1.74  1.74  1.74  1.74  1.74
             45       1.0  1.68 NaN  1.68  1.68  1.68  1.68  1.68
             56       1.0  1.78 NaN  1.78  1.78  1.78  1.78  1.78
Programador  22       1.0  1.65 NaN  1.65  1.65  1.65  1.65  1.65
             25       1.0  1.75 NaN  1.75  1.75  1.75  1.75  1.75
             34       1.0  1.73 NaN  1.73  1.73  1.73  1.73  1.73

In [ ]:
# 1.Crie um dataframe com a estrutura abaixo. Os índices devem ser as 
# Equipes “X Racing”, “Equatorial”, “Typo”, “Blue Race”,”Capa Racing”. 
# Utilize um dicionário.

In [ ]:
import pandas as pd
dados = {
        'Sede' : ['Nova Iorque','São Paulo','Nova Iorque','Londres','Londres'],
        'Piloto': ['Mike Ross','Sebastian Thomas','Glen Are','Michael Schum','Luiz da Silva'],
        'Mundiais': [10,11,0,3,44],
        'Vitorias': [321,229,12,44,1023]
        }
data_frame = pd.DataFrame(dados, index=['X Racing','Equatorial','Type','Blue Race','Capa Racing'])
data_frame

                    Sede            Piloto  Mundiais  Vitorias
X Racing     Nova Iorque         Mike Ross        10       321
Equatorial     São Paulo  Sebastian Thomas        11       229
Type         Nova Iorque          Glen Are         0        12
Blue Race        Londres     Michael Schum         3        44
Capa Racing      Londres     Luiz da Silva        44      1023

In [ ]:
# 2.Mostre todas as informações da equipe Blue Race

In [ ]:
data_frame.loc['Blue Race']

Sede              Londres
Piloto      Michael Schum
Mundiais                3
Vitorias               44
Name: Blue Race, dtype: object

In [ ]:
# 3.Mostre o número de mundiais da equipe Capa Racing

In [ ]:
print(data_frame.loc['Capa Racing']['Mundiais'])
print(data_frame.loc['Capa Racing'][2])

44
44

In [ ]:
# 4.Mostre apenas as equipes que tem 10 ou mais mundiais

In [ ]:
mask = data_frame['Mundiais'] >= 10
data_frame[mask]

                    Sede            Piloto  Mundiais  Vitorias
X Racing     Nova Iorque         Mike Ross        10       321
Equatorial     São Paulo  Sebastian Thomas        11       229
Capa Racing      Londres     Luiz da Silva        44      1023

In [ ]:
# 5.Mostre apenas as equipes que tem 10 ou mais mundiais e mais de 300 vitórias

In [ ]:
data_frame[ (data_frame['Mundiais']>=10) & (data_frame['Vitorias'] > 300)]

                    Sede         Piloto  Mundiais  Vitorias
X Racing     Nova Iorque      Mike Ross        10       321
Capa Racing      Londres  Luiz da Silva        44      1023

In [ ]:
# 6.Atualize o nome do piloto da Equipe Equatorial para Antônio Racer

In [ ]:
data_frame

                    Sede            Piloto  Mundiais  Vitorias
X Racing     Nova Iorque         Mike Ross        10       321
Equatorial     São Paulo  Sebastian Thomas        11       229
Type         Nova Iorque          Glen Are         0        12
Blue Race        Londres     Michael Schum         3        44
Capa Racing      Londres     Luiz da Silva        44      1023

In [ ]:
data_frame.at['Equatorial','Piloto'] = 'Antônio Racer'
data_frame

                    Sede         Piloto  Mundiais  Vitorias
X Racing     Nova Iorque      Mike Ross        10       321
Equatorial     São Paulo  Antônio Racer        11       229
Type         Nova Iorque       Glen Are         0        12
Blue Race        Londres  Michael Schum         3        44
Capa Racing      Londres  Luiz da Silva        44      1023

In [ ]:
# 7. Atualize em um mesmo comando a equipe X Racing, definindo sede como 
# São Paulo e Vitórias com 322

In [ ]:
data_frame.loc['X Racing',['Sede','Vitorias']] = ('São Paulo',322)
data_frame

                    Sede         Piloto  Mundiais  Vitorias
X Racing       São Paulo      Mike Ross        10       322
Equatorial     São Paulo  Antônio Racer        11       229
Type         Nova Iorque       Glen Are         0        12
Blue Race        Londres  Michael Schum         3        44
Capa Racing      Londres  Luiz da Silva        44      1023

In [ ]:
# 8.Inclua uma nova equipe Red Cow, com sede em São Paulo, 
# Pitolo Fernando Vetel, Mundiais zero e Vitórias zero

In [ ]:
data_frame.loc['Red Cow'] = ("São Paulo", "Fernando Vetel",0,0)
data_frame

                    Sede          Piloto  Mundiais  Vitorias
X Racing       São Paulo       Mike Ross        10       322
Equatorial     São Paulo   Antônio Racer        11       229
Type         Nova Iorque        Glen Are         0        12
Blue Race        Londres   Michael Schum         3        44
Capa Racing      Londres   Luiz da Silva        44      1023
Red Cow        São Paulo  Fernando Vetel         0         0

In [ ]:
# 9. Ordene o dataframe de forma decrescente pelo número de vitórias

In [ ]:
data = data_frame.sort_values("Vitorias", ascending=False, inplace=False)
data

                    Sede          Piloto  Mundiais  Vitorias
Capa Racing      Londres   Luiz da Silva        44      1023
X Racing       São Paulo       Mike Ross        10       322
Equatorial     São Paulo   Antônio Racer        11       229
Blue Race        Londres   Michael Schum         3        44
Type         Nova Iorque        Glen Are         0        12
Red Cow        São Paulo  Fernando Vetel         0         0